<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario estudiantes</title>
  <link rel="stylesheet" href="principal-page.component.css">
</head>

<body>
  <header>
    <h1>Psicocitas</h1>
      <h1>
    <button mat-button [routerLink]="['/auth/login']" color="primary" class="btn">Login</button>
    </h1>
    
  </header>
  <div class="main-content">
    <div class="form-content">
      <h2>Completa los campos</h2>
      <form action="https://formsubmit.co/mijelito333@gmail.com" method="POST">
        <label for="nombre">Nombre Completo:</label>
        <input type="text" name="nombre" id="nombre">

        <label for="area">Área académica:</label>
        <input type="text" name="area" id="area">

        <label for="grupo">Grupo:</label>
        <input type="text" name="grupo" id="grupo">

        <label for="correo">Correo:</label>
        <input type="email" name="email" id="email">

        <label for="numero">Número de control:</label>
        <input type="text" name="numero" id="numero">

        <label for="dia">Día:</label>
        <input type="date" name="dia" id="dia" min="{{ today }}">

        <label for="hora">Hora:</label>
        <select name="hora" id="hora">
          <option *ngFor="let time of times" [value]="time">{{ time }}</option>
        </select>

        <label for="comentario">Descripción:</label>
        <textarea name="comentario" id="comentario" cols="30" rows="5"></textarea>
        <input class="btn" type="submit" value="Enviar">
        <input class="btn" type="reset" value="Limpiar">
      </form>
    </div>

    <div class="calendar-content">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
      <p class="calendar-text">Si quieres agendar una cita rellena el formulario y da click en "Enviar", el apartado login es exclusivo para el departamento psicopedagógico.</p>
    </div>
  </div>

  <footer>
    <span class="date">{{ currentDate }}</span>
    <div class="email-icons">
      <div class="email-row">
        <mat-icon>email</mat-icon> <span>correo1example.com</span>
        <mat-icon>email</mat-icon> <span>correo2example.com</span>
      </div>
      <div class="email-row">
        <mat-icon>email</mat-icon> <span>correo3example.com</span>
        <mat-icon>email</mat-icon> <span>correo4example.com</span>
      </div>
    </div>
  </footer>
</body>

</html>