<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario estudiantes</title>
  <link rel="stylesheet" href="search-page.component.css">
</head>

<body>
  
  <div class="main-content">
    <div class="calendar-and-schedule">
      <div class="calendar-content">
        <mat-calendar [(selected)]="selectedDate"></mat-calendar>
      </div>
      <div class="schedule-content">
        <mat-card>
          <mat-card-title>Horarios de Atención</mat-card-title>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Day Column -->
              <ng-container matColumnDef="day">
                <th mat-header-cell *matHeaderCellDef> Día </th>
                <td mat-cell *matCellDef="let element"> {{element.day}} </td>
              </ng-container>

              <!-- Start Time Column -->
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Hora de Inicio </th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field>
                    <input matInput [(ngModel)]="element.startTime" placeholder="HH:MM">
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- End Time Column -->
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> Hora de Fin </th>
                <td mat-cell *matCellDef="let element">
                  <mat-form-field>
                    <input matInput [(ngModel)]="element.endTime" placeholder="HH:MM">
                  </mat-form-field>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="save()">Guardar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  
</body>

</html>



