* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #993556; /* Pastel pink background */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #96106e; /* Pastel purple */
  color: rgb(164, 23, 23);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background: linear-gradient(
    50deg,
    #b2dfdb 50%, /* Pastel turquoise */
    #80deea 50%
  );
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.calendar-and-schedule {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Espacio entre el calendario y el horario */
}

.calendar-content,
.schedule-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-content {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  background-color: #6b1963; /* Pastel purple */
  color: white;
  margin-top: 20px;
}

.email-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.email-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.email-row mat-icon {
  margin-right: 5px;
}

.date {
  align-self: flex-end;
}

h1 {
  color: aliceblue;
}

table {
  width: 100%;
}

mat-card {
  margin: 80px;
}

mat-form-field {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

.calendar-content mat-calendar {
  width: 100%; /* Ancho completo del contenedor */
  height: 600px; /* Altura específica */
}


.calendar-text {
  margin-top: 20px;
  color: #6a1b9a; /* Deep pastel purple */
  text-align: center;
  width: 100%;
}

