<div class="main-content">
  <div class="cont12">
    <h3>Detalles de las Citas</h3>
    <div class="row">
      <div class="column" *ngFor="let cita of citas">
        <div class="data-group">
          <label>ID Cita</label>
          <p>{{ cita.IdCita }}</p>
        </div>
        <div class="data-group">
          <label>Nombre Psicólogo</label>
          <p>{{ cita.NombreP }}</p>
        </div>
        <div class="data-group">
          <label>Apellido Psicólogo</label>
          <p>{{ cita.ApellidoP }}</p>
        </div>
        <div class="data-group">
          <label>Nombre Estudiante</label>
          <p>{{ cita.Nombre }}</p>
        </div>
        <div class="data-group">
          <label>Hora de la Cita</label>
          <p>{{ cita.HoraC }}</p>
        </div>
        <div class="data-group">
          <label>Fecha de la Cita</label>
          <p>{{ cita.FechaCita }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
