*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bf2558; /* Pastel pink background */
  display: flex;
  flex-direction: column;
  height: 130pv;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ab47bc; /* Pastel purple */
  color: white;
}

.main-content {
  display: flex;
  flex: 1;
  padding: 20px;
  background: linear-gradient(
    50deg,
    #07dccb 50%, /* Pastel turquoise */
    #7fcad4 50%
  );
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.form-content h2 {
  color: #7e2aac; /* Deep pastel purple */
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 17px;
  color: #d975d1; /* Medium pastel purple */
  align-self: flex-start;
}

input, textarea, select {
  padding: 10px;
  background-color: #cdf3f3; /* Light pastel purple */
  border: none;
  font-size: 15px;
  color: #000000; /* Deep pastel purple */
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
}

.btn {
  background-color: #4c8ef8; /* Pastel violet */
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn mat-icon {
  margin-right: 5px;
}

.calendar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.calendar-content mat-calendar {
  width: 50%;
  height: 500px;
}

.calendar-text {
  margin-top: 20px;
  color: #7192db; /* Deep pastel purple */
  text-align: center;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  background-color: #7192db; /* Pastel purple */
  color: rgb(99, 167, 231);
}

.email-icons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.email-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.email-row mat-icon {
  margin-right: 5px;
}

.date {
  align-self: flex-end;
}
button{
  color:aqua;
  width: 200px;
  height: 50px;
}
h1{
  color: aliceblue;
}
.btn1 {
  background-color: #4cd80b; /* Pastel violet */
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn1 mat-icon {
  margin-right: 5px;
}
td {
  color: bisque;
}