* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #bf2558; /* Pastel pink background */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Evita el scroll del body */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ab47bc; /* Pastel purple */
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
  padding: 20px;
  background: linear-gradient(
    50deg,
    #07dccb 50%, /* Pastel turquoise */
    #7fcad4 50%
  );
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Evita el scroll del main-content */
  height: calc(100vh - 60px); /* Asegura que la altura se ajuste al tamaño de la pantalla menos el header */
}

.cont12 {
  width: 90%;
  max-width: 1200px;
  max-height: 100%; /* Asegura que el contenedor no exceda la altura disponible */
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco para el contenedor */
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  overflow-y: auto; /* Habilita el scroll vertical */
}

h3 {
  text-align: center;
  color: #7e2aac; /* Deep pastel purple */
  margin-bottom: 20px;
  font-size: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
}

.column {
  flex: 1 1 30%; /* Flexible column width with a minimum of 30% */
  min-width: 250px; /* Minimum width to ensure readability */
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f8ff; /* Alice blue para las columnas */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  box-sizing: border-box;
  margin: 10px; /* Añade un margen entre las columnas para evitar el desbordamiento */
}

.data-group {
  margin-bottom: 20px;
}

.data-group label {
  font-weight: 600;
  color: #d975d1; /* Medium pastel purple */
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.data-group p {
  padding: 8px;
  background-color: #cdf3f3; /* Light pastel turquoise */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #444;
}
