<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Departamento Psicopedagogico - Citas</title>
  <link rel="stylesheet" href="login-page.component.css">
</head>
<body>
  <div class="container">
    <mat-card>
      <header>
        <h1>Departamento Psicopedagogico</h1>
        <h2>Citas</h2>
      </header>
      <main>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="icon-container">
            <mat-icon>person</mat-icon>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="loginForm.get('email')!.hasError('required')">El email es obligatorio</mat-error>
            <mat-error *ngIf="loginForm.get('email')!.hasError('email')">Debe ser un email válido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password')!.hasError('required')">La contraseña es obligatoria</mat-error>
            <mat-error *ngIf="loginForm.get('password')!.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
          </mat-form-field>
          <mat-checkbox formControlName="remember">Recuérdame</mat-checkbox>
          <div class="button-container">
            <button mat-button type="submit" color="primary">Acceder</button>
          </div>
          <div class="links">
           <!-- <button mat-button [routerLink]="['/auth/new-account']" color="primary" class="custom-small-button">Registrarse</button>
            <span>|</span> -->
            <button mat-button [disabled]="loginForm.invalid"color="primary"class="custom-small-button">¿Olvidé mi contraseña?</button>
          </div>
        </form>
      </main>
    </mat-card>
  </div>
</body>
</html>
