
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 110px ;        /* Ajusta el margen según sea necesario */
  padding: 80px;            /* Aumenta el padding para más espacio interno */
  max-width: 1600px;        /* Aumenta el max-width para hacer el contenedor más grande */
  width: 100%;              /* Asegúrate de que el contenedor ocupe todo el ancho disponible */
  box-sizing: border-box;  /* Incluye padding y border en el cálculo del width */
}


.calendar {
  flex: 1;
  margin-right: 80px;
}

.info-card {
  flex: 1;
  margin-left: 20px;
}

mat-calendar {
  width: 100%;      /* Asegúrate de que el calendario ocupe todo el ancho del contenedor */
  max-width: 800px; /* Aumenta el max-width para hacerlo más grande */
  height: auto;     /* Ajusta la altura automáticamente para mantener la proporción */
}

mat-card {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-img {
  width: 10%;
  height: auto;
  border-radius: 5%;
  margin-bottom: 10px;
}

.info-text {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}
