
<div class="container">
    <div class="calendar">
        <mat-calendar></mat-calendar>
    </div>
    <div class="info-card">
        <mat-card>
            <!--<img [src]="psicloga.img" class="profile-img" alt="">-->
            
            <div class="info-text">Nombre: {{psicologa.nombreP}}</div>
            <div class="info-text">Apellido: {{psicologa.apellidoP}}</div>
            <div class="info-text">Puesto: {{psicologa.puesto}}</div>
            <div class="info-text">Email: {{psicologa.emailP}}</div>
            
        </mat-card>
    </div>
</div>

