
<div class="container">
    <div class="calendar">
        <mat-calendar></mat-calendar>
    </div>
    <div class="info-card">
        <mat-card>
            <img [src]="psicloga.img" class="profile-img" alt="">
            
            <div class="info-text">Nombre: {{psicologa.NombreP}}</div>
            <div class="info-text">Apellido: {{psicologa.ApellidoP}}</div>
            <div class="info-text">Puesto: {{psicologa.Puesto}}</div>
            <div class="info-text">Email: {{psicologa.EmailP}}</div>
        </mat-card>
    </div>
</div>

